<div class="search">
  <form #form="ngForm" (submit)="onCitySubmit()">
    <input type="text" placeholder="Search for a city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container">
  <div class="upperData">
    <img src="../assets/hotLand.jpg" alt="Landscape on sunny day" *ngIf="cityTemp > 15">
    <img src="../assets/coldLand.jpg" alt="Landscape on cold day" *ngIf="cityTemp <= 15">
    <div class="weatherData">
      <div class="location">
        {{cityNameSelected | titlecase }}
      </div>
      <div class="temperature">
        {{cityTemp | number: '1.0-0'}}°C
      </div>
    </div>
  </div>
  <div class="lowerData">
    <div class="moreInfoLabel">
      More information
    </div>
    <div class="moreInfoContainer">
      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/coldTempIcon.png" alt="">
          <span>Min</span>
        </div>
        <div class="infoBlockValue">
          {{cityTempMin | number: '1.0-0'}} °C
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/hotTempIcon.png" alt="">
          <span>Max</span>
        </div>
        <div class="infoBlockValue">
          {{cityTempMax | number: '1.0-0'}} °C
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/humidityIcon.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="infoBlockValue">
          {{cityHumidity}} %
        </div>
      </div>

      <div class="infoBlock">
        <div class="infoBlockLabel">
          <img src="../assets/windIcon2.png" alt="">
          <span>Wind speed</span>
        </div>
        <div class="infoBlockValue">
          {{cityWindSpeed | number: '1.2-2'}} Km/h
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  Made by Alessandro Brun <a href="https://www.linkedin.com/in/alessandrobrun/">Linkedin page</a> - Weather data from <a href="https://openweathermap.org">openweathermap.org</a>
</footer>
